* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  /*CORES*/
  --ciano-background: #065E7C;
  --white-background: #fff;
  --second-white-background: #F4FCFF;
  --second-ciano-background: rgba(255, 255, 255, 0.20);
  --h1-color: #202024;
  --p-color: #121214;
}

.app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--ciano-background);
  padding: 1.2rem 2.4rem;
  gap: 2.4rem;
}

.logo {
  background-color: var(--second-white-background);
  padding: .8rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.input-wrapper {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}


.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.4rem;
  background-color: var(--second-ciano-background);
  border: 0;

  font-family: Mulish;
  color: var(--white-background);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.input-wrapper input::placeholder {
  color: var(--white-background);
  opacity: 0.56;
}

.foto {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.capa {
  width: calc(100vw + 1rem);
  object-fit: cover;
  margin-bottom: 3.2rem;
}

main {
  overflow-y: scroll;
}

main h1 {
  margin: 0 2.4rem;
  color: var(--h1-color);
  font-family: Mulish;
  font-size: 2.4rem;
  font-weight: 700;
}

.feedback {
  margin-left: 2.4rem;
}

.buttons {
  background-color: var(--ciano-background);
  border-radius: 50%;
  padding: 1.2rem;
  border: 0;
  margin: 0.8rem 1.2rem 3.2rem 0;
  width: 4rem;
  height: 4rem;
}

.paragrafos p {
  margin: 0 2.4rem;
  color: var(--p-color);
  font-family: Mulish;
  font-size: 1.6rem;
  font-weight: 400;
}

.sidebar {
  margin: 0 2.4rem 3.2rem;
}

.sidebar h2 {
  margin: 3.2rem 0;
  color: var(--h1-color);
  font-family: Mulish;
  font-size: 2.4rem;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-rows: repeat(5 1fr);
  gap: 3.2rem;
}

.campos {
  display: flex;
}

.campos img {
  object-fit: cover;
  border-radius: 0.5rem;
}

.texto {
  margin-left: 1.6rem;
}

.texto h3 { 
  color: var(--h1-color);
  font-family: Mulish;
  font-size: 1.8rem;
  font-weight: 700;
}

.texto p {
  color: var(--p-color);
  font-family: Mulish;
  font-size: 1.4rem;
  font-weight: 400;
}

footer {
  padding: 1.6rem;
  background-color: var(--ciano-background);
  color: var(--white-background);
  text-align: center;
  font-family: Mulish;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (min-width: 769px) { /*Maior que tamanho de Tablet*/
  main {
    display: flex;
    padding: 4.4rem 11rem 0;
  }

  .box {
    width: 80rem;
    margin-right: 3.2rem;
  }

  .sidebar h2 {
    margin: 0 0 3.2rem;
  }

  .capa {
    display: block;
    margin: 0 0 3.2rem 2.2rem;
    width: 80.0rem;
    height: 40.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  h1, .feedback {
    display: inline-block;
  }

  .paragrafos {
    padding-bottom: 4rem;
  }

}
